# build output
dist/
.astro/

# dependencies
node_modules/

# environment
.env
.env.production
.env.local

# editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.log
npm-debug.log*

# netlify
.netlify/
